!/output
/output/*
!/dl
/dl/*
!/br2_downloads
/br2_downloads/*
!/package
/package/*
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
./git_original
